@import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
	background: rgb(86,19,2);
	background: -moz-linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#561302",endColorstr="#2a0200",GradientType=1);
	color: white;
}

#container {
	width: 100%;
}

form table tbody tr td label {
	font-family: 'Noto Serif', cursive;
}

form {
	width: 45%;
	height: auto;
	border-radius: 25px;
	margin: 50px auto 50px auto;
	box-shadow: 5px 5px 0 #fca102;
}

form h2 {
	text-align: center;
	color: black;
	background-color: #fca102;
	width: 70%;
	margin: 30px auto 30px auto;
	border-radius: 20px;
}

form table {
	width: 90%;
	margin: 20px auto 20px auto;
}

[type="text"], [type="number"], [type="email"], textarea {
	box-sizing: border-box;
	width: 350px;
	background-color: #ffffff10;
	color: white;
	padding: 5px 0 5px 10px;
	font-family: 'Merriweather', sans-serif;
	border: none;
	border-bottom: 1px solid white;
	margin: 5px 0 5px 0;
}

[type="text"], [type="number"], [type="email"] {
	height: 30px;
}

[type="submit"] {
	margin: 20px auto 20px auto;
	background-color: #fca102;
	font-weight: bold;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 20px;
	font-family: 'Noto Serif', Serif;
	font-weight: bold;
	text-transform: uppercase;
}

tr {
	margin: 10px 0 10px 0;
}

label {
	background-color: #fca10250;
	padding: 10px;
	border-radius: 20px;
}

#map {
	width: 70%;
	margin: 50 auto 0 auto;
	display: none;
}

#contact_form {
	background-color: #00000050;
	padding: 50px 0 50px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contact_details {
	background-color: #fca102;
	width: 98%;
	margin: 30px auto 0 auto;
	color: rgba(16, 0, 0, 1);
	text-align: center;
	display: block;
	justify-content: center;
	padding: 10px 0 10px 0;
	font-weight: bold;
	border-radius: 10px;
	font-family: 'Anton', sans-serif;
}

.cds {
	margin-top: 10px;
}

#co_name {
	font-size: 8em;
	width: 80%;
	border-bottom: 2px solid rgba(16, 0, 0, 1);
	margin: 0 auto;
	padding-bottom: 10px;
	border-radius: 5px;
	text-shadow: 4px 3px 1px white;

}


#tel {
	font-size: 3em;
}

#our_email {
	font-size: 1.5em;
	font-style: italic;
}
