body {
	background: rgb(16,0,0);
	background: -moz-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100000",endColorstr="#2a0200",GradientType=1);
}