@import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif:700i&display=swap');

body {
	background: rgb(16,0,0);
	background: -moz-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100000",endColorstr="#2a0200",GradientType=1);
	color: white;
}

form table tbody tr td label {
	font-family: 'Noto Serif', cursive;
}

form {
	background-color: #00000050;
	width: 45%;
	height: auto;
	border: 2px solid white;
	border-radius: 25px;
}

form h2 {
	text-align: center;
	color: black;
	background-color: white;
	width: 90%;
	margin: 20px auto 20px auto;
}

form table {
	width: 90%;
	margin: 20px auto 20px auto;
}

[type="text"], [type="number"], [type="email"], textarea {
	box-sizing: border-box;
	width: 300px;
	background-color: #ffffff10;
	color: white;
	padding: 5px 0 5px 10px;
	font-family: 'Merriweather', sans-serif;
	border: none;
	border-bottom: 1px solid white;
	margin: 5px 0 5px 0;
}

[type="submit"] {
	margin: 20px auto 20px auto;
	background-color: white;
	font-weight: bold;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 20px;
	font-family: 'Noto Serif', cursive;
	font-weight: bold;
	text-transform: uppercase;
}

tr {
	margin: 10px 0 10px 0;
}

label {
	background-color: #00000050;
}

