@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gotu|IM+Fell+French+Canon+SC|Lobster|Oswald|Roboto+Slab&display=swap');

footer {
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #561302;
	border-top: 2px solid black;
	vertical-align: center;
}

footer #footer_content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding-left: 50px;
	padding-top: 10px;
	font-size: 1em;
	color: white;
}

#footer_content a {
	text-decoration: none;
	color: white;
}


#designer_ad {
	padding-left: 500px;
}

#small_alternative {
	display: none;
}

/*--------------------Smaller Devices--------------------*/
@media only screen and (max-width: 980px) {
	footer {
		height: 56px;
		width: 100%;	
	}

	footer #footer_content {
		width: 100%;
		display: inline-flex;
		color: white;
		font-size: 12px;
		overflow: none;
	}

	#copyright {
		display: none
	}

	#designer_ad {
		display: none;
	}

	#small_alternative {
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 1.5em;
	}
}