/*Fonts
font-family: 'Gotu', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gotu|IM+Fell+French+Canon+SC|Lobster|Oswald|Roboto+Slab&display=swap');

img {
	width: max-width;
	height: 100%;
}

#header {
	transition: top 0.5s;
}

header {
	width: 100%;
	height: 80px;
	background-color: #561302;
	display: inline-block;
	top: 0;

	position: sticky;
	z-index: 100;
	border-bottom: 2px solid white;
}

header #logo img {
	width: 60px;
	height: 60px;
	padding: 10px 0 30px 30px;
	position: absolute;
	vertical-align: middle;
}

header #logo img:hover {
	transform: scale(1.2);
}

nav {
	/*padding: 10px auto 50px 100px;*/
	margin: 0 auto;
}

nav>ul {
	text-align: center;
	padding: 0 50px 20px 100px;
}

nav>ul>li {
	display: inline-block;
}

nav>ul>li>a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 30px 0 30px;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	font-size: 2.5vw;
	display: inline-block;
	font-family: 'IM Fell French Canon SC', serif;
}

nav>ul>li>a:hover {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
}

.fas {
	padding: 0 0 0 5px;
	font-size: 20px;
}

#menu-btn-home, #close-btn-home {
	font-size: 30px;
	margin: 10px;
	color: #561302;
	display: none;
}

/*--------------------For Smaller Devices--------------------*/

@media only screen and (max-width: 980px) {
	header {
		width: 100%;
		height: 60px;
		overflow: hidden;
		background-color: #561302;
		position: sticky;
		top: 0;
		z-index: 100;
		border-bottom: 2px solid white;
	}

	nav {
		top: 10;
		width: 100%;
		
		margin: -100px;
	}

	nav>ul {
		display: none;
		position: fixed;
		width: 100%;
		height: auto;
		top: 20;
		margin-top: 100px;
		background-color: #561302; 
	}

	nav>ul>li {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		height: auto;
		padding-bottom: 15px;
		border-bottom: 2px solid white;
	}

	nav>ul>li>a {
		text-transform: uppercase;
		text-decoration: none;
		padding: 0 30px 0 30px;
		color: white;
		text-shadow: 2px 2px 2px black;
		font-weight: bold;
		font-size: 20px;
		display: block;
		font-family: 'IM Fell French Canon SC', serif;
	}

	#menu-btn-home {
		display: block;
		text-align: right;
		color: white;
		padding: 10px 20px 30px 30px;
		z-index: 25;
		cursor: pointer;
	}

	#close-button-home {
		text-align: right;
		color: white;
		padding: 10px 20px 30px 30px;
		z-index: 26;
		display: none;
		cursor: pointer;
	}

	header #logo img {
		width: 50px;
		height: 50px;
		float: left;
		padding-bottom: 30px;
	}

}
