@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
	background: rgb(86,19,2);
	background: -moz-linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(86, 19, 2, 1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#561302",endColorstr="#2a0200",GradientType=1);
}

#container {
	max-width: 100% !important;
    overflow-x: hidden !important;
}


#hero {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-image: url("../images/books_hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#hero_content {
	color: white;
	margin: 20% auto 20% 150px;
	scroll-behavior: smooth;
	z-index: 64;
}

#hero_content>span>h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 70px;
	text-decoration: underline overline;
	text-shadow: 5px 5px 3px #000000;
}

#hero_content>span>p {
	font-family: 'Dancing Script', cursive;
	font-style: italic;
	font-size: 40px;
	text-shadow: 5px 5px 3px #5C0000;
}

#buy_button {
	vertical-align: middle;
	z-index: 2;
	display: inline-block;
}

#buy_button button {
	height: 70px;
	width: 120px;
	border-radius: 20px;
	box-shadow: 5px 4px 1px white;
	display: inline-block;
	background-color: rgba(86,19,2, 1);

	text-align: center;
	font-family: 'Roboto Slab', cursive;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

#buy_button button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

#about {
	width: 80%;
	margin: 70px auto 70px auto;
	text-align: justify;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 45px;
}

#about h2, #history h2 {
	text-align: center;
	font-size: 50px;
	padding-bottom: 30px;
	border-bottom: 2px solid white;
	border-radius: 5px;
}

#about #about_cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ffffff10;
	border-radius: 25px;
}

.cards_about {
	margin: 30px 50px 30px 50px;
	text-align: center;
	background-color: #43000070;
	padding: 30px;
	width: 600px;
	height: auto;
	border: 2px solid white;
	border-radius: 30px;
	box-shadow: 5px 5px 2px black; 
}

.cards_about:hover {
	transform: scale(1.2);
	transition-timing-function: ease;
	transition-duration: 0.4s;
}

.details_button {
	font-family: 'Roboto', serif;
	font-size: 15px;
	font-weight: bold italic;
	border-radius: 25px;
	border: none;
	text-align: center;
	width: 100px;
	height: 30px;
}

#history {
	width: 80%;
	margin: 70px auto 70px auto;
	text-align: justify;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 45px;
}

