/* Header Styling */

/*Fonts
font-family: 'Gotu', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gotu|IM+Fell+French+Canon+SC|Lobster|Oswald|Roboto+Slab&display=swap');

img {
	width: max-width;
	height: 100%;
}

#header {
	transition: top 0.5s;
}

header {
	width: 100%;
	height: 80px;
	background-color: #100000;
	display: inline-block;
	top: 0;
	position: sticky;
	z-index: 100;
	border-bottom: 2px solid white;
}

header #logo img {
	width: 60px;
	height: 60px;
	padding: 10px 0 30px 30px;
	position: absolute;
	vertical-align: middle;
}

header #logo img:hover {
	transform: scale(1.2);
}

nav {
	/*padding: 10px auto 50px 100px;*/
	margin: 0 auto;
}

nav>ul {
	text-align: center;
	padding: 0 50px 20px 100px;
}

nav>ul>li {
	display: inline-block;
}

nav>ul>li>a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 30px 0 30px;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	font-size: 2.5vw;
	display: inline-block;
	font-family: 'IM Fell French Canon SC', serif;
}

nav>ul>li>a:hover {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
}


/* Main Styling */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
	background: rgb(16,0,0);
	background: -moz-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100000",endColorstr="#2a0200",GradientType=1);
}

#container {
	max-width: 100% !important;
    overflow-x: hidden !important;
}


#hero {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-image: url("../images/books_hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#hero_content {
	color: white;
	margin: 20% auto 20% 150px;
	scroll-behavior: smooth;
	z-index: 64;
}

#hero_content>span>h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 70px;
	text-decoration: underline overline;
	text-shadow: 5px 5px 3px #000000;
}

#hero_content>span>p {
	font-family: 'Dancing Script', cursive;
	font-style: italic;
	font-size: 40px;
	text-shadow: 5px 5px 3px #5C0000;
}

#buy_button {
	vertical-align: middle;
	z-index: 2;
	display: inline-block;
}

#buy_button button {
	height: 70px;
	width: 120px;
	border-radius: 20px;
	box-shadow: 3px 4px 3px black;
	display: inline-block;
	background-color: #0faef0;

	text-align: center;
	font-family: 'Roboto Slab', cursive;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

#buy_button button:hover {
	cursor: pointer;
	transform: scale(1.3);
}

#about {
	width: 80%;
	margin: 70px auto 70px auto;
	text-align: justify;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 45px;
}

#about h2, #history h2 {
	text-align: center;
	font-size: 50px;
	padding-bottom: 30px;
	border-bottom: 2px solid white;
	border-radius: 5px;
}

#about #about_cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ffffff10;
	border-radius: 25px;
}

.cards_about {
	margin: 30px 50px 30px 50px;
	text-align: center;
	background-color: #43000070;
	padding: 30px;
	width: 600px;
	height: auto;
	border: 2px solid white;
	border-radius: 30px;
	box-shadow: 5px 5px 2px black; 
}

.cards_about:hover {
	transform: scale(1.2);
	transition-timing-function: ease;
	transition-duration: 0.4s;
}

.details_button {
	font-family: 'Roboto', serif;
	font-size: 15px;
	font-weight: bold italic;
	border-radius: 25px;
	border: none;
	text-align: center;
	width: 100px;
	height: 30px;
}

#history {
	width: 80%;
	margin: 70px auto 70px auto;
	text-align: justify;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	line-height: 45px;
}

 /* Contact Styling */

 @import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
	background: rgb(16,0,0);
	background: -moz-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: -webkit-linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	background: linear-gradient(300deg, rgba(16,0,0,1) 0%, rgba(42,2,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100000",endColorstr="#2a0200",GradientType=1);
	color: white;
}

#container {
	width: 100%;
}

form table tbody tr td label {
	font-family: 'Noto Serif', cursive;
}

form {
	width: 45%;
	height: auto;
	border-radius: 25px;
	margin: 50px auto 50px auto;
	box-shadow: 5px 5px 0 white;
}

form h2 {
	text-align: center;
	color: black;
	background-color: white;
	width: 90%;
	margin: 20px auto 20px auto;
}

form table {
	width: 90%;
	margin: 20px auto 20px auto;
}

[type="text"], [type="number"], [type="email"], textarea {
	box-sizing: border-box;
	width: 350px;
	background-color: #ffffff10;
	color: white;
	padding: 5px 0 5px 10px;
	font-family: 'Merriweather', sans-serif;
	border: none;
	border-bottom: 1px solid white;
	margin: 5px 0 5px 0;
}

[type="text"], [type="number"], [type="email"] {
	height: 30px;
}

[type="submit"] {
	margin: 20px auto 20px auto;
	background-color: white;
	font-weight: bold;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 20px;
	font-family: 'Noto Serif', Serif;
	font-weight: bold;
	text-transform: uppercase;
}

tr {
	margin: 10px 0 10px 0;
}

label {
	background-color: #00000050;
	padding: 10px;
	border-radius: 20px;
}

#map {
	width: 70%;
	margin: 50 auto 0 auto;
}

#contact_form {
	background-color: #00000050;
	padding: 50px 0 50px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contact_details {
	background-color: #ffffff90;
	width: 98%;
	margin: 30px auto 0 auto;
	color: rgba(16, 0, 0, 1);
	text-align: center;
	display: block;
	justify-content: center;
	padding: 10px 0 10px 0;
	font-weight: bold;
	border-radius: 10px;
	font-family: 'Anton', sans-serif;
}

.cds {
	margin-top: 10px;
}

#co_name {
	font-size: 8em;
	width: 80%;
	border-bottom: 2px solid rgba(16, 0, 0, 1);
	margin: 0 auto;
	padding-bottom: 10px;
	border-radius: 5px;
	text-shadow: 4px 3px 1px black

}


#tel {
	font-size: 3em;
}

#our_email {
	font-size: 1.5em;
	font-style: italic;
}


/* Footer Styling */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gotu|IM+Fell+French+Canon+SC|Lobster|Oswald|Roboto+Slab&display=swap');

footer {
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #100000;
	border-top: 2px solid black;
	vertical-align: center;
}

footer #footer_content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding-left: 50px;
	padding-top: 10px;
	font-size: 1em;
	color: white;
}

#footer_content a {
	text-decoration: none;
	color: white;
}

#copyright {

}

#designer_ad {
	padding-left: 500px;
}